@import "tailwindcss";@tailwind components;
@tailwind utilities;

@layer components {
  .fixture-card {
    @apply flex flex-col items-center justify-between w-full rounded-md border border-white/10 p-2 mb-2;
  }
  .fixture-home{
    @apply flex-1 flex flex-col items-end gap-1
  }
  .fixture-away{
    @apply flex-1 flex flex-col items-start gap-1
  }
  .fixture-button-group{
    @apply flex justify-center gap-2 mt-3
  }

}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
